input:disabled {
  background-color: #cccccc;
  background-image: none;
}
input.dish {
  font-size: 75%;
  text-align: center;
  width: 100%
}
input.layer {
  background-color: #fff799;
  border-color: #ece093;
}
input.nothing {
  border: none;
}
input.strawberry {
  background-image: url("/assets/images/strawberry.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 100%;
  width: 50%;
}
