@(message: String)

@main("Welcome to Play 2.1") {
    @play20.welcome(message, style = "Java")
    <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
    ハノイの塔
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="text" id="layerA5" style="width:0%" class="cake"></td>
            <td colspan="2" align="center"><input type="text" id="layerB5" style="width:0%"></td>
            <td colspan="2" align="center"><input type="text" id="layerC5" style="width:0%"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="text" id="layerA4" style="width:0%" class="cake"></td>
            <td colspan="2" align="center"><input type="text" id="layerB4" style="width:0%"></td>
            <td colspan="2" align="center"><input type="text" id="layerC4" style="width:0%"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="text" id="layerA3" style="width:10%" class="cake"></td>
            <td colspan="2" align="center"><input type="text" id="layerB3" style="width:0%"></td>
            <td colspan="2" align="center"><input type="text" id="layerC3" style="width:0%"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="text" id="layerA2" style="width:30%" class="cake"></td>
            <td colspan="2" align="center"><input type="text" id="layerB2" style="width:0%"></td>
            <td colspan="2" align="center"><input type="text" id="layerC2" style="width:0%"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="text" id="layerA1" style="width:50%" class="cake"></td>
            <td colspan="2" align="center"><input type="text" id="layerB1" style="width:0%"></td>
            <td colspan="2" align="center"><input type="text" id="layerC1" style="width:0%"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="text" id="dishA" value="" style="text-align:right"></td>
            <td colspan="2"><input type="text" id="dishB" value="" style="text-align:right"></td>
            <td colspan="2"><input type="text" id="dishC" value="" style="text-align:right"></td>
        </tr>
        <tr>
            <td align="center">
                &nbsp;
            </td>
            <td align="center">
                <input type="button" id="btnAB" style="width:100%" onclick="move(this)" value="→"><br>
                <input type="button" id="btnAC" style="width:100%" onclick="move(this)" value="→→">
            </td>
            <td align="center" valign="top">
                <input type="button" id="btnBA" style="width:100%" onclick="move(this)" value="←">
            </td>
            <td align="center" valign="top">
                <input type="button" id="btnBC" style="width:100%" onclick="move(this)" value="→">
            </td>
            <td align="center">
                <input type="button" id="btnCB" style="width:100%" onclick="move(this)" value="←"><br>
                <input type="button" id="btnCA" style="width:100%" onclick="move(this)" value="←←">
            </td>
            <td align="center">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <input type="button" id="btnSTART" style="width:100%" onclick="start()" value="スタート">
            </td>
        </tr>
    </table>
}
