@(message: String)

@main("Welcome to Play 2.1") {
    @play20.welcome(message, style = "Java")
    <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
    ハノイの塔
    <input type="hidden" id="dishA" value="">
    <input type="hidden" id="dishB" value="">
    <input type="hidden" id="dishC" value="">
    <table>
        <tr>
            <td width="50" align="center">
                &nbsp;
            </td>
            <td width="50" align="center">
                <input type="button" id="btnAB" style="width:100%" onclick="move(this)" value="-&gt;"><br>
                <input type="button" id="btnAC" style="width:100%" onclick="move(this)" value="-&gt; -&gt;">
            </td>
            <td width="50" align="center" valign="top">
                <input type="button" id="btnBA" style="width:100%" disabled onclick="move(this)" value="&lt;-">
            </td>
            <td width="50" align="center" valign="top">
                <input type="button" id="btnBC" style="width:100%" disabled onclick="move(this)" value="-&gt;">
            </td>
            <td width="50" align="center">
                <input type="button" id="btnCB" style="width:100%" disabled onclick="move(this)" value="&lt;-"><br>
                <input type="button" id="btnCA" style="width:100%" disabled onclick="move(this)" value="&lt;- &lt;-">
            </td>
            <td width="50" align="center">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="6">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <input type="button" id="btnSTART" style="width:100%" onclick="start()" value="スタート">
            </td>
        </tr>
    </table>
}
