@main("ハノイの塔") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
    <script src="@routes.Assets.at("javascripts/index_cs.js")" type="text/javascript"></script>
    <a href="https://ja.wikipedia.org/wiki/%E3%83%8F%E3%83%8E%E3%82%A4%E3%81%AE%E5%A1%94">ハノイの塔</a>
    といわれるパズルゲームです。<br>
    <h2>
        スポンジケーキを一番右の皿に移動しよう！
        <img src="/assets/images/strawberry.png" width="1%" height="1%" style="visibility:hidden">
    </h2>
    <br>
    <table border="0px" cellspacing="0px" cellpadding="0px">
        <tr>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
            <td width="80">&nbsp;</td>
        </tr>
        <tr height="21px">
            <td colspan="2" align="center"><input type="text" id="layerA6" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerB6" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerC6" readonly class="nothing"></td>
        </tr>
        <tr height="21px">
            <td colspan="2" align="center"><input type="text" id="layerA5" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerB5" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerC5" readonly class="nothing"></td>
        </tr>
        <tr height="21px">
            <td colspan="2" align="center"><input type="text" id="layerA4" readonly style="width:10%" class="layer"></td>
            <td colspan="2" align="center"><input type="text" id="layerB4" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerC4" readonly class="nothing"></td>
        </tr>
        <tr height="21px">
            <td colspan="2" align="center"><input type="text" id="layerA3" readonly style="width:20%" class="layer"></td>
            <td colspan="2" align="center"><input type="text" id="layerB3" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerC3" readonly class="nothing"></td>
        </tr>
        <tr height="21px">
            <td colspan="2" align="center"><input type="text" id="layerA2" readonly style="width:30%" class="layer"></td>
            <td colspan="2" align="center"><input type="text" id="layerB2" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerC2" readonly class="nothing"></td>
        </tr>
        <tr height="21px">
            <td colspan="2" align="center"><input type="text" id="layerA1" readonly style="width:40%" class="layer"></td>
            <td colspan="2" align="center"><input type="text" id="layerB1" readonly class="nothing"></td>
            <td colspan="2" align="center"><input type="text" id="layerC1" readonly class="nothing"></td>
        </tr>
        <font size="1">
        <tr>
            <td colspan="2" align="center"><input type="text" id="dishA" value="1234" class="dish"></td>
            <td colspan="2" align="center"><input type="text" id="dishB" value="" class="dish"></td>
            <td colspan="2" align="center"><input type="text" id="dishC" value="" class="dish"></td>
        </tr>
        </font>
        <tr>
            <td align="center">
                &nbsp;
            </td>
            <td align="center">
                <input type="button" id="btnAB" style="width:100%; padding:18px" value="→"><br>
                <input type="button" id="btnAC" style="width:100%; padding:18px" value="→→">
            </td>
            <td align="center" valign="top">
                <input type="button" id="btnBA" style="width:100%; padding:18px" value="←">
            </td>
            <td align="center" valign="top">
                <input type="button" id="btnBC" style="width:100%; padding:18px" value="→">
            </td>
            <td align="center">
                <input type="button" id="btnCB" style="width:100%; padding:18px" value="←"><br>
                <input type="button" id="btnCA" style="width:100%; padding:18px" value="←←">
            </td>
            <td align="center" valign="top">
                <font color="blue" size="2">
                  ↑<br>一番右の皿
                </font>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <input type="button" id="btnSTART" style="width:100%" value="はじめから">
            </td>
        </tr>
        <tr>
            <td colspan="6" align="right">
                <br>
                <label><input type="checkbox" id="chkTransparent">ケーキを透明にする</label>
            </td>
        </tr>
    </table>
    <br>
    【ルール】<br>
    &nbsp;&nbsp;・&nbsp;矢印のボタンを押すと、べつの皿に一つ移動できます。<br>
    &nbsp;&nbsp;・&nbsp;二つ矢印のボタンは、となりの皿をとびこえて移動できます。<br>
    &nbsp;&nbsp;・&nbsp;サイズの大きいものを上にのせることはできません。<br>
    &nbsp;
}
